.banner {
    height: 84vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner  p {
    font-size: 3rem;
    color: #f3f3f3;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);

}

.banner1 {
    background-image: url('../../assets/img/banner1.jpg');
    
}